/* css styling for new homepage template - Oct 2019
 */
.eaihome-post-cat {
  background-color: #bfd4ea; //#bfd0ea;
  //color:  ##bfd0ea;
  text-align: center;
  padding-top: 3px;
  a {
    color: #111;
  }
}
