/* css styling for new homepage template - Oct 2019
 */


.eai-content-row {
  margin-bottom: 20px;
}
 article {
  .eaihome-post-cat {
    background-color: #e1e1e1;
    padding: 5px 7px;
    a {
      color: $fontcolor;
      letter-spacing: 1px;
      font-family: 'Archivo Narrow', sans-serif;
    }
  }
  .eaihome-img {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .eai-content-row {
    .prl-list {
      padding-left: 0px;
    }
  }

}
