
/* styling eai_custom_functions calendar widget hcc_list */
.widget.widget_hcc_list {
		.prl-block-title {
			border-bottom: 1px solid #DDD;
			text-align: center;
			padding-bottom: 10px;
		}
		ul.hcc_event_list {
			padding: 10px 10px 0 10px;
			li.hcc_event {
				list-style: none;
				padding-bottom: 10px;

				.hcc_event_title {
					line-height: 20px;
					margin-bottom: 0px;
					font-size: 14px;
					font-weight: bold;
				}
				.hcc_event_venue, .hcc_event_datetime{
						color: #484848;
						line-height: 1.3em;
				}
			}
			li:not(:last-child) {

			}
		}
		a.hcc_link {
			font-weight: bold;
			padding-left: 5px;
		}
} // widge_hcc_list
