/* ********** media ************ */
/* All Mobile Sizes (devices and browser) */
/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/* media breakpoints for orig mag:  >1200, max-width:1199px, max-width: 768px */

@media only screen and (min-width: 1200px) {

	.widget .textwidget .eia-right-rail,
	.widget .textwidget .eai-right-rail {
		width: 300px;
		margin-left: -30px;
		//border: 1px solid black;
	}
}

@media (min-width: 960px) {
  ul#sfmenu {
    display: flex;
    justify-content: space-around;
  }

}

@media only screen and (max-width: 1250px) {
  .pullquote-left {
    width: 100%;
    float: none;
    position: relative;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.3em;
    margin: 20px 0px;
    text-align: center;
    font-family: times;
  }
}

@media only screen and (max-width: 770px) and (min-width: 670px) {
  .pullquote-left {
    width: 250px;
    float: left;
    position: relative;
    font-weight: bold;
    font-size: 1.5em;
    line-height: 1.3em;
    margin: 15px 15px 15px 0px;
    text-align: center;
    font-family: times;
  }
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
  // uber menu stuff here
  nav.ubermenu {
    display: none;
    visibility: false;
    margin: 0px;
    padding: 0px;
    border: none;
  }
  // end ubermenu
  #sliderTab  {
    #mainFlexslider {
      width: 100%;
    }
    .slider_tabs  {
      width: 0px;
    }
  }
  .hidden-tablet {
    display: none;
    visibility: false;
    margin: 0px;
    padding: 0px;
    border: none; }

  .show-tablet {
    display: block !important;
    visibility: visible;
  }
}
@media only screen and (max-width: 768px) {
  header#masthead .prl-container .masthead-bg .prl-header-mid {
    padding-left: 0px;
    float: right; } }
/* #Mobile (Landscape)  (min-width: 480px) and (max-width: 767px) width: 480px   */
/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
  .hidden-phone {
    display: none;
    visibility: false;
    margin: 0px;
    padding: 0px;
    border: none;
  }
  .wp-caption.alignright {
    width: auto!important;
    margin-left:0px;
  }
}
@media only screen and (max-width: 768px) { // bump it up to 768 (part of parent theme css)
  body{font-size: 15px }
  .prl-container { max-width: 550px; }
  .prl-grid > [class*='prl-span-']{ /*width:auto; */ width:100%; float: none; border:none; }
  .prl-grid .prl-grid > [class*='prl-span-']{ margin-bottom: 20px; }
  .prl-grid .prl-grid > [class*='prl-span-']:last-child { margin-bottom:0;}
  .prl-grid-divider:not(:empty) > [class*='prl-span-']:not(.prl-span-12):nth-child(n+2) { border:none;  }

 // mobile aritcle titles in blocks & archives
 ul.prl-list h4.prl-article-title,
 h3.prl-article-title,
 h4.prl-article-title {
		 font-size: 24px;  // 1.3em;
		 line-height:28px;
	}

	.prl-grid-divider.ea-multiple-posts .prl-span-4 article,//:nth-child(n+2),
	ul.prl-list-line li:nth-child(n+2),
	ol.prl-list-line li:nth-child(n+2),
	.prl-grid-divider ul.prl-list-line li,
	.prl-grid-divider ol.prl-list-line li { // lines between articles
		border-top: 2px solid #eee;
		padding-top: 20px;
	}
	// single
 .prl-list-sharing { // sharing buttons
	 li a i {
		 font-size: 22px;
	 }
	 li a i.fa-print { // hide print button at mobile
		 display: none;
	 }
 }
 .ad-container-mobile,
	#sidebar { // at mobile, center the sidebar
		float: none;
		max-width: 340px;
		margin: auto;
	}
	#over_footer_wrap {
		display: none;
		padding-top: 0px;
		padding-bottom: 0px;
		background-color: none;

	}
}

@media only screen and (min-width: 769px) {
	.hidden-desktop {
		display: none;
	}
  div#yarpp_widget-2 {
    background-color: #f7f7f7;
    padding: 25px;
		margin-bottom: 4px;
  }
	.eai-featured-2nd {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}
@media only screen and (max-width:390px) {
  .wp-caption a img.size-medium {
    width: 200px;
  }
  .ts-fab-text {
      margin-left: 0px;
    }
  .widget .eia-right-rail, // nope, cant spell or type
  .widget .eai-right-rail {
    width: 100%;
  }
  .biz-today.horizontal aside.widget-zbtlist  { // styling for business today ads underneath content */
    ul.zbt-ad-list  {
      li {
        width: 100%;
      }
    }
  }
}
/* ********** end media ************ */
