/* ------------------------------------
Styling for the Real News Campaign Page
------------------------------------ */

.real-news-reporter {
  padding: 20px;
  border: 2px solid #efefef;
  .real-news-headshot-container {
    display: inline-block;
    float: left;
    overflow: hidden;
    margin: 0 15px 5px 0;
    border: 4px solid #545454;
    img.real-news-headshot {
      -webkit-transition: all 1000ms cubic-bezier(0.705, 0, 0.240, 1); /* older webkit */
      -webkit-transition: all 1000ms cubic-bezier(0.705, -0.125, 0.240, 1.165);
         -moz-transition: all 1000ms cubic-bezier(0.705, -0.125, 0.240, 1.165);
           -o-transition: all 1000ms cubic-bezier(0.705, -0.125, 0.240, 1.165);
              transition: all 1000ms cubic-bezier(0.705, -0.125, 0.240, 1.165); /* custom */
      margin: 0;
      transform: scale(1.1);
    }
    img.real-news-headshot:hover {
      transform: scale(1.5);
    }
  }
  h2.real-news-name {
    font-size: 2.2em;
  }
  .real-news-question {
    h4 {
      font-size: 1.5em;
      margin-top: .5em;
    }
  }
  div.real-news-question-preview {
    display: inline;
    h4 {
      display: inline;
      font-size: 1.5em;
      margin-top: .5em;
    }
  }
  h5.collapseomatic {
    display: inline;
    margin-left: 20px;
  }
  .collapseomatic_content {
    margin-left: 0px;
    margin-top: 15px;
  }
}

.real-news-fay img.real-news-headshot:hover {
        transform-origin: 91% 5% ;
}
.real-news-baldwin img.real-news-headshot:hover {
        transform-origin: 7% 5% ;
}
.real-news-paida img.real-news-headshot:hover {
        transform-origin: 73% 5% ;
}
.real-news-wood img.real-news-headshot:hover {
        transform-origin: 18% 11% ;
}
.real-news-rappaport img.real-news-headshot:hover {
        transform-origin: 47% 5% ;
}
.real-news-osborn img.real-news-headshot:hover {
        transform-origin: 20% 45% ;
}
.real-news-fuller img.real-news-headshot:hover {
        transform-origin: 25% 5% ;
}
.real-news-roza img.real-news-headshot:hover {
        transform-origin: 19% 13% ;
}
.real-news-mandell img.real-news-headshot:hover {
        transform-origin: 3% 21% ;
}


@media only screen and (min-width: 481px) and (max-width: 768px) {
  img.real-news-headshot {
    width: 150px;
  }
}

@media only screen and (min-width: 450px) and (max-width: 560px) {
  .real-news-reporter h5.collapseomatic {
    margin-left: 0px;
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  img.real-news-headshot {
    width: 100px;
  }
  div.real-news-question {
    clear: both;
  }
}
