/* Colors ---------------------------------------------- */
// Font Colors
$linkcolor: #1E73BE; //#a62425;
$linkcolor-bright:#1E73BE;// #a62425; // for on dark backgrounds
$titleFontColor:#1E73BE;// #a62425;
$fontcolor: #333;
$button-color: #1E73BE;

// Background colors:
$bkgoundContent: #FFFFFF; //
$menuBarbkg: #D14719; //
$bordergrey: #BDBDBD;
$borderltgrey: #DDD;
$borderdkgrey: #808080;
$breakingnews-background: #f2f4f8;

$photo-credit-color: #999;

$weatherborder: #1E73BE;
$widget-titlecolor: #1E73BE;
$footer-widgets-background: #333;
$footer-widgets-link-color: #484848;
$slider-background: #0D365A; // #5B7F9E; // #1E73BE;
$border-color: #DDD;
$yellow-page-bkg: #f3ed69e3;
// social colors
$facebook-logo-color: #3B5998; // blue
$twitter-logo-color: #1DA1F2; // bright blue
$pinterest-logo-color: #BD081C; // red
$linkedin-logo-color: #0077B5; // blue

/* Typography ------------------------------------------ */
.ea-button-wrap {
    margin-top: 20px;
    margin-bottom: 30px;
    .ea-button {
        padding: 15px;
        background-color: $button-color;
        color: white;
        font-size: 1.3em;
    }
    .ea-button:hover {
        color: #ececec;
        text-decoration: none;
    }
}

i.fa-facebook-square {
  color: $facebook-logo-color;
}
i.fa-twitter-square {
  color: $twitter-logo-color;
}
i.fa-pinterest-square {
  color: $pinterest-logo-color;
}
i.fa-linkedin-square {
  color: $linkedin-logo-color;
}
.ad-flex-container {
  display: flex;
  justify-content: space-between;
}
