/* Colors ---------------------------------------------- */
// Font Colors
$linkcolor: #1E73BE; //#a62425;
$linkcolor-bright:#1E73BE;// #a62425; // for on dark backgrounds
$titleFontColor:#1E73BE;// #a62425;
$fontcolor: #333;
$button-color: #1E73BE;

// Background colors:
$bkgoundContent: #FFFFFF; //
$menuBarbkg: #D14719; //
$bordergrey: #BDBDBD;
$borderltgrey: #DDD;
$borderdkgrey: #808080;
$breakingnews-background: #f2f4f8;
$subscribe-hilite: #7fda9a;

$photo-credit-color: #999;

$weatherborder: #1E73BE;
$widget-titlecolor: #1E73BE;
$footer-widgets-background: #333;
$footer-widgets-link-color: #484848;
$slider-background: #0D365A; // #5B7F9E; // #1E73BE;
$border-color: #DDD;
$yellow-page-bkg: rgba(255, 255, 102, 0.67);
// social colors
$facebook-logo-color: #3B5998; // blue
$twitter-logo-color: #1DA1F2; // bright blue
$pinterest-logo-color: #BD081C; // red
$linkedin-logo-color: #0077B5; // blue
$eai-blue: #1055a3;

/* Typography ------------------------------------------ */
.ea-button-wrap {
    margin-top: 20px;
    margin-bottom: 30px;
    .ea-button {
        padding: 15px;
        background-color: $button-color;
        color: white;
        font-size: 1.3em;
    }
    .ea-button:hover {
        color: #ececec;
        text-decoration: none;
    }
}

i.fa-facebook-square {
  color: $facebook-logo-color;
}
i.fa-twitter-square {
  color: $twitter-logo-color;
}
i.fa-pinterest-square {
  color: $pinterest-logo-color;
}
i.fa-linkedin-square {
  color: $linkedin-logo-color;
}
.ad-flex-container {
  display: flex;
  justify-content: space-between;
}
/* eai-grid */
// used for recipes
.eai-grid-wrapper {
  ul.eai-archive-grid {
    display: flex;
    flex-wrap: wrap;
    li {
      width: 170px; //
      min-height: 170px;
      border-top: 0px;
      padding-top: 0px;
      img {
        border: 1px solid #bbbbbb;
      }
    }
  }
}
.eai-wtitle-blue  { // widget title blue
  .widget-title,
  .prl-block-title {
    background-color: $eai-blue;
    color: white!important;
    border-top: 0px;
    padding-left: 5px;
    padding-right: 5px;
    a {
      color: white;
    }
  }
}
.eai-wborder-blue {  // widget border blue.
  border: 1px solid $eai-blue;
  border-radius: 0px;
}

.eai-nav-horizontal {
  ul.menu {
    li {
      display: inline-block;
    }
  }
}

.eai-pt20 {
  padding-top: 20px;
}
