$sportbox-title-background: #1E73BE;
.eai-scores {
	.eai-scores-titlebox {
		width: 100%;
		background-color: $sportbox-title-background;
		padding-top: 10px;
		padding-bottom: 10px;
		// below probably need some media size styling ....
		margin-left: -18px;
		padding-left: 18px;
		padding-right: 18px;
		margin-top: -1px;
		h3 {
			color: white;
			text-align: center;
		}
	}
	.prl-article-title {
		margin-top: 10px;
	}
	.scores-more-link {
		padding-top: 10px;
		float: right;
	}
	.scores-more-link:after {
		content: " >>> ";
	}
	ul {
		list-style: none;
		padding-left: 0px;
		padding-bottom: 4px;
		font-size: .9em;
		font-family: Vollkorn;
	}
	li {
		padding-left: 11px;
		font-weight: bold;
		font-size: 1.2em;
		font-family: Vollkorn;
	}
	p {
		padding-bottom: 0px;
		margin-bottom: 2px;
		color: #1E73BE;
	}
} 

div.eai-scores {
padding-left: 20px;
padding-right: 20px;
}