/* ********* sytles ******** */
.nowrap {
	white-space: nowrap;
}
em {
	font-style: italic;
}

/* Images */
//.widget img,
.entry-content img,
.comment-content img {
	max-width: 97.5%; /* Fluid images for posts, comments, and widgets */
}
img[class*="align"],
img[class*="wp-image-"] {
height: auto; /* Make sure images with WordPress-added height and width attributes are scaled correctly */
}
img.size-full {
max-width: 97.5%;
width: auto; /* Prevent stretching of full-size images with height and width attributes in IE8 */
}
.wp-caption.alignnone {
	width: auto!important;
}
header#masthead {
	#topnav {
		float: right;
		#top-menu {
			li a {
				//line-height: 30px;
			}
		}
	}
	.prl-container{
		.masthead-bg {
			background-color: white;
			line-height: 30px;
			.prl-header-logo {
				padding: 5px 0px 0px 0px;
				//padding-top: 12px;

				background-color: white!important;
				width: 100%;
				text-align: center;
				.prl-logo-time {
					height: 40px;
				}
			}
			.prl-header-mid {
				float: left;
				padding-left: 35%;
				color: $fontcolor;
				.prl-header-time {
					margin-left: 0px;
					.fa.fa-calendar {
						padding-right: 10px;
					}
				}

			}
			.prl-header-social {
				float:right;
				a.fa.fa-facebook {
					color: #3664A2;
				}
				a.fa.fa-twitter {
					color: #55ACEE;
				}
				a.youtube-pic img {
					vertical-align: middle;
				}
			}
		}
	}

}
#search_form-top.nav_search {
  display: block; }

#search_form.nav_search {
  display: none;
}

#search_form.nav_search input,
#search_form-top.nav_search input {
  border: 1px solid #dddddd;
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  text-decoration: inherit;
  min-width: 40px;
}

#nav.prl-navbar {
	margin-bottom: 15px;
	.prl-container .nav-wrapper {
		border-top: 1px solid $borderltgrey;
	}
	#sf-menu {
		padding-left: 5%; // tbd zig....
	}
	#sf-menu li a {
		font-size: 15px;
	}
}
.sf-mega .prl-article-title a {
	font-size: 16px;
}

#single-top-ad {
	margin-bottom: 10px;
}
.ads_top {
	margin-bottom :0px;
}
/* stuff for breaking News */
.eai-breaking-news {
	margin-bottom: 10px!important;
	//background-color: red;
	width: 100%;
	.mtphr-dnt-title {
		margin-bottom: 0px;
		padding-bottom: 1px;
		border-bottom: 1px solid #CCC
		//border: 1px solid #CCC
	}
	.mtphr-dnt-tick-container {
		.mtphr-dnt-tick-contents {
			padding-top: 4px; /*make text line up with header  */
			background-color: $breakingnews-background;
			border: 1px solid #DDD;
		}
	}
}
.eai-featured-2nd {
	margin-top: 0px;
	margin-bottom: 0px;
}
/* end breaking news styling */
#main {
	border-left: 0px;
}
#mainFlexslider {
	border: 0px;
}
.single-meta {
	.prl-article-meta {
		float:left;
	}
	ul.prl-list.prl-list-sharing {
		float:right;
		margin-top: 0px;
		li {
			display: inline;
		}
	}
}
/** related posts styling */
.yarpp-thumbnails-horizontal, .yarpp-thumbnails-vertical {
	.yarpp-related {
		ul {
			list-style-type: none;
			p.yarpp-thumbnail-title {
				margin-bottom: 0px;
			}
		}
	}
}
.yarpp-thumbnails-vertical {
	float: left;
	.yarpp-related {
		ul {
			width: 90%;

			padding-left: 0px;
			li:not(:last-child) {
				padding-bottom: 5px;
				margin-bottom: 5px;
				border-bottom: 1px solid $bordergrey;

			}
			li {
				.yarpp-thumbnail img {
					margin-top: 5px;
				}
			}
		}
	}
}
.yarpp-thumbnails-horizontal {
	.yarpp-related {
		ul {
			li {
				width: 25%;
				display: inline-block;
				vertical-align: top;
				.yarpp-thumbnail img {

				}
				.yarpp-thumbnail-title {
					float: left;
				}
			}
		}
	}
}
// testing menu

.sf-menu li:not(.sf-mega-parent) li a {
	// background-color: red!important; // this gets us there.
}
//.sf-menu li:not(.sf-mega-parent) ul.sub-menu {
.sf-menu li.eai-menu-top ul.sub-menu {
	background-color:#FFF;
	li a {
	}
	li.eai-menuheading {
		a {
			font-weight:bold;
			text-decoration: underline;
		}
	}
	li:not(.eai-menuheading) {
		padding-left: 20px;
	}
}
.widget .eai-right-rail,
.widget .eia-right-rail {
	margin-bottom: 30px;
}

.widget .eia-right-rail, // nope, cant spell or type
.widget .eai-right-rail,
.ad-container {
	span  { display: inline-block; width: 100%; height: auto; }
	a {
		display: inline-block;
		width: 100% !important;
		height: auto !important;
	}
	img {
		//width: 100%;
		height: auto !important;
	}
}
.widget .eia-right-rail,
.widget .eai-right-rail {
	max-width: 300px;
	div {
		width: 100%;
	}
}
#eai_babyfaces.eia-right-rail.eai-countdown-bold {
	.bs-countdown {
		.bs-countdown-text {
			font-weight: 900!important;
		}
	}
}
 // zig 14July15
/* .widget .eia-right-rail div,
.widget .eai-right-rail div {
	width: 100%;
}
.widget .eai-right-rail a { // zig 14July15
	//max-width: 300px;
	//width: 300px;
}
.widget .eia-right-rail img,
.widget .eai-right-rail img {// zig 14July15
		//width: 300px;
		//max-height: 600px;
	} */
.ad-container.ad-in-content {
	width: 97%;
	span {
		padding-top: 1px; // trying to get top border (from broadstreet to show)
	}
}
a.eai-more-link {
	text-align: right;
}
aside {
	.widget .widget-title { /* copied from .prl-block-title */
		color: $widget-titlecolor;
		margin: 0;
		font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		font-size: 12px;
		font-weight: bold;
		border-bottom: 3px solid #DDD;
		border-top: 1px solid #DDD;
		padding: 10px 0;
		text-transform: uppercase;
		margin-bottom: 15px;
		a {
			color: $widget-titlecolor;
		}
	}
}
aside .widget .widget-title,
aside .widget .prl-block-title {
	text-align: center;
	font-size: 16px;
}
ul.zbzdir-biz-list {
	padding-left: 0px;
}
aside .widget-zbtlist { /* sytling for text ad's widget on sidebar 123 */
	ul.zbzdir-biz-list,
	ul.zbt-ad-list {
		padding-left: 0px;
		li:not(:last-child) {
		 	border-bottom: 1px solid $borderltgrey;
		}
		.zbt-title {
			font-size: 14px;
			font-weight: bold;
			display: block;
		}
		.zbt-content {
			display: block;
		}
		.zbt-ad-link {
			font-size: 12px;
		}
	}

}
.biz-today.horizontal {
	padding-top: 10px;
}
.biz-today.horizontal aside.widget-zbtlist  { // styling for business today ads underneath content */
	float: left;
	border-bottom: 1px solid $borderltgrey;
	.widget-title {
		text-align: center;
	}
	ul.zbzdir-list,
	ul.zbt-ad-list  {
		float: left;
		padding-left: 0px;
		li {
			border-left: 1px solid $borderltgrey;
			width: 30%;
			float: left;
			padding-left: 2%;
			padding-right: 1%;
			.zbt-title {
				font-size: 14px;
				font-weight: bold;
				display: block;
				height: 35px;
			}
			.zbt-content {
				display: block;
			}
			.zbt-ad-link {
				font-size: 12px;
				float: left;
				text-align: right;
				width: 100%;
			}
		}
		li:first-child {
			padding-left: 0px;
			border-left: 0px;
		}
		li:last-child {
			padding-right: 0px;
		}
	}

}

.biz-today.horizontal aside.widget-zbzdir-list  { // styling for business today ads underneath content */
	float: left;
	border-bottom: 1px solid $borderltgrey;
	.widget-title {
		text-align: center;
	}
	ul.zbzdir-biz-list {
		float: left;
		padding-left: 0px;
		li {
			border-left: 1px solid $borderltgrey;
			width: 30%;
			float: left;
			padding-left: 2%;
			padding-right: 2%;
		/* 	.zbt-title {
				font-size: 14px;
				font-weight: bold;
				display: block;
				height: 35px;
			}
			.zbt-content {
				display: block;
			}
			.zbt-ad-link {
				font-size: 12px;
				float: left;
				text-align: right;
				width: 100%;
			}*/
		}
		li:first-child {
			padding-left: 0px;
			border-left: 0px;
		}
		li:last-child {
			padding-right: 0px;
		}
	}

}
.sub-category-title {
	text-align: center;
}

/* *** smug mug widget styling *** */
#zsfw-authors {
	width: initial;
	.zimg img {
		width: 100%;
	}
	.bx-wrapper {
		margin-bottom: 30px;
	}
}
/* *** end smugmug widget styling *** */

/* **** sidebar styling with boxes & icons *** */
// add the border & some padding
#sidebar .widget_recent_entries,
#sidebar .widget_advanced_menu,
#sidebar .widget-recent-post,
#sidebar .widget_awesomeweatherwidget,
#sidebar .widget-zbzdir-list,
#sidebar .widget-zbtlist,
#sidebar .widget_hcclist,
#sidebar #zsfw-authors {
	//padding-top: 8px;
	border: 2px solid $borderdkgrey;
	margin-left: -15px;
	padding-left: 15px;
	margin-right: -15px;
	padding-right: 15px;
	border-radius: 5px;
	margin-bottom: 15px;
	padding-bottom: 10px;
}
// some widgets dont need extra padding....
#sidebar .widget_awesomeweatherwidget {
	padding-bottom: 0px;
}
// add the icon...
/* other potentials:   megaphone:f1ea (3.2) */
#sidebar .menu-news-categories-container::before {
	//	content: "\F0A1"; // bullhorn
}
#sidebar .widget_advanced_menu.icon-trophy::before {
	content: "\F091"; // trophy
}
#sidebar .widget_advanced_menu.icon-home::before {
	content: "\F015"; // home
}
#sidebar .widget-recent-post::before {
	content: "\F005"; // star
}
#sidebar .widget_hcclist::before {
	content: "\f073";  // fa-calendar
}
#sidebar .widget_awesomeweatherwidget::before {
		content: "\f185";  // fa-sun-o
	}
#sidebar .widget-zbzdir-list::before,
#sidebar .widget-zbtlist::before {
	content: "\f0f2";  // suitcase
}
//#sidebar .menu-news-categories-container::before,
#sidebar .widget_advanced_menu.icon-trophy::before,
#sidebar .widget_advanced_menu.icon-home::before,
#sidebar .widget-recent-post::before,
#sidebar .widget_hcclist::before,
#sidebar .widget_awesomeweatherwidget::before,
#sidebar .widget-zbzdir-list::before,
#sidebar  .widget-zbtlist::before {
	font-family:FontAwesome;
	margin-left: -25px;
	float: left;
	background-color: $bkgoundContent;
	font-size: 24px;
	margin-top: 10px;
}

#sidebar .widget_awesomeweatherwidget > i,
#sidebar .widget-zbtlist > i,
#sidebar .widget_hcclist > i,
#sidebar #zsfw-authors	> i {
	margin-top: 10px;
	margin-left: -25px;
	background-color: $bkgoundContent;
	float: left;
	font-size: 24px;
}

//#sidebar .menu-news-categories-container::before,
#sidebar .widget_advanced_menu .menu-sports-2-container::before,
#sidebar .widget_advanced_menu .menu-towns-container::before,
 {
//	margin-top: -50px;
}
.cc-featured-image-caption {
	font-size: 12px;
}
.cc-featured-image-caption-source {
	float: right;
	color: $photo-credit-color;
	font-style: italic;
}
/* *** END sidebar styling *** */
